.navbar {
    padding: 1rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}

.hero {
    background-color: #f5f6f7;
    min-height: 285px;
    
}
.hero-principal {
    padding: 1rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero-principal h2{
    font: 1.5rem;
    color: #615151;
}

.seccion-oscura {
    color:white;
    background-color: #1b1b32;
}

.seccion-clara {
color: black;
background-color: white;
}
.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
     max-width: 600px;
     text-align: center;
}

.seccion-titulo{
font-size: 2rem;
padding: 15px 0;
font-family: 'Rubik Dirt', cursive;


}

.seccion-texto{
 font-size: 1.2rem;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.experiencia {
    padding: 1rem;
    background: transparent;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;

}

.badges {
    margin: 5px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;

}
.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;  
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.img-background {
    background-image: url(./images/background-mobile-modified.png);
    background-repeat: no-repeat;
}
.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    
}

.experiencia .columna:hover {
    color: white;
    background-color: black;
}

.proyectos-recientes {

    padding: 40px;

}


@media screen and (max-width: 767px) {

    .navbar-brand {
        display: none;
    }
    
}

@media screen and (min-width: 700px) {

    .hero-inferior-imagen {
        max-width: 600px;
    }
}